:root {
    --p5-red: #d30000;
    --p5-black: #000000;
    --p5-white: #ffffff;
    /* Default Slash Variables */
    --slash-color: var(--p5-red);
    --slash-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

/* The navigation menu */
.menu {
    display: flex;
    flex-direction: column;
    /* Stack buttons vertically */
    align-items: center;
    gap: 10px;
}

/* The container for our dynamic background effects */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -2;
    transition: opacity 0.1s steps(2);
    /* Snap on/off instead of a slow fade */
    opacity: 0;
    pointer-events: none;
}

.p5-btn {
    background-color: var(--p5-white);
    transform: skewX(-20deg);
}

.red-slash {
    position: fixed;
    background-color: var(--p5-red);
    width: 60%;
    height: 100%;
    clip-path: var(--slash-path);
}