:root {
    --p5-red: #d30000;
    --p5-black: #000000;
    --p5-white: #ffffff;
    /* Default Slash Variables */
    --slash-color: var(--p5-red);
    --slash-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

/* The navigation menu */
.menu {
    display: flex;
    flex-direction: column;
    /* Stack buttons vertically */
    align-items: center;
    gap: 10px;
}

/* The container for our dynamic background effects */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -2;
    transition: opacity 0.1s steps(2);
    /* Snap on/off instead of a slow fade */
    opacity: 0;
    pointer-events: none;
}

body {
    background: var(--p5-black);
    color: var(--p5-white);
    font-family: 'Impact', sans-serif;
    overflow: hidden;
}

body[class^="bg-"] .glitch-text {
    transform: rotate(-5deg) skewX(-12deg) scale(1.02);
    filter: drop_shadow(2px 0px 0px var(--p5-red));
}

.p5-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.p5-btn {
    display: block;
    background: var(--p5-white);
    padding: 10px 60px;
    margin: 10px;
    font-size: 2.5rem;
    border: none;
    transform: skewX(-20deg) rotate(-2deg);
    transition: 0.15s;
    cursor: pointer;
    width: fit-content;
}

.p5-btn:hover {
    background: var(--p5-red);
    color: white;
    transform: skewX(-20deg) scale(1.1) translateX(-10px);
    box-shadow: 15px 15px 0px var(--p5-black);
}

.close-btn {
    background-color: var(--p5-white);
    transform: skewX(-20deg);
}

.red-slash {
    top: 0;
    right: 0;
    z-index: -1;
    position: fixed;
    background-color: var(--p5-red);
    width: 60%;
    height: 100vh;
    clip-path: var(--slash-path);

    animation: float-slash 6s ease-in-out infinite;

    transition: all 0.2s steps(3);
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.85);
}

.popup-content {
    border: 8px solid var(--p5-red);
    transform: rotate (-3deg) skewX(-5deg);
    box-shadow: 20px 20px 0 var(--p5-black);
}

.glitch-text {
    font-size: 8rem;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 40px;
    background: var(--p5-black);
    color: var(--p5-white);
    padding: 0 30px;
    transform: rotate(-3deg) skewX(-10deg);
    box-shadow: 15px 15px 0px var(--p5-red);
    letter-spacing: -5px;
    transition: transform 0.1s steps(2);
}

@keyframes float-slash {
    0% {
        transform: scale(1) translateX(0);
    }

    50% {
        transform: scale(1.05) translateX(20px);
    }

    100% {
        transform: scale(1) translateX(0);
    }
}